# Bỏ qua code C++ và CMake rác của Flutter
mobile/windows/** linguist-vendored
mobile/linux/** linguist-vendored
mobile/macos/** linguist-vendored
mobile/ios/** linguist-vendored
mobile/android/** linguist-vendored

# Ép GitHub nhận diện Java (Quan trọng)
*.java linguist-detectable

# Đánh dấu code giao diện là TypeScript
*.ts linguist-detectable
*.tsx linguist-detectable
*.css linguist-detectable

web-admin/.next/** linguist-vendored
web-admin/node_modules/** linguist-vendored